/*karan patel 8911445*/
html{
    font: normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
background-color: rgb(126, 102, 194);
display: flex;
flex-direction: column;
}
h2{
    color: #fc2;
    font-size: 2rem;

}
h1{
    color: blueviolet;
    font-size: 2rem;
}
header{
    background-color: hsl(200, 22%, 47%);
}

nav ul li {
    display: inline;
    list-style: none;
}
nav ul li a {
    color: indigo;
    border: 0.1em solid indigo;
    background-color: cornsilk;
    text-decoration: none;
    padding: 0.25rem;
}
nav ul li a:hover{
    color: cornsilk;
    background-color: indigo;
    border-color: cornsilk;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
main{
    flex: 2 1 70%;
    background-color: hsl(208, 73%, 71%);
}
aside{
    flex: 1 1 30%;
    background-color: hsl(67, 88%, 32%);

}
aside li{
    list-style-type: square;
    line-height: 2em;
}
 aside a{
    color: rgba(227, 91, 91, 0.7);
}
aside, a:hover{
    color: #fc2;
}
footer{
    
    background-color: hsl(176, 86%, 44%);
}
.structural{
    margin : 1rem;
    padding : 1rem;
    border : 0.1rem solid black;
}
#para1{
color: rgb(72, 39, 39);
}
#para2{

    color: rgb(181, 22, 138);
}
form{
    border: 0.1rem dashed rgb(1, 18, 1);
    padding: 0.25rem;
}
input[type=text], input[type=email] , input[type=submit] , select,option {
display: block;
width: 50%;
height: 2em;
}
input[type=radio], input[type=checkbox]{
    height: 2em;
    width: 2em;
}
select,option, label,legend,input[type=submit]{
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}
textarea{
    display: block;
    width: 50%;
}
fieldset{
    border: none;
}
footer p {
    font-size: .75em;
}
 img{
    width: 80%;
    height: 80%;
}
figure{
    border: 0.1em solid ;
}
#gallery{
    display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
row-gap: 0.5rem;
column-gap: 0.5rem;
}
@media(max-width : 600px){
    html{
    font-size: 10px;
}
#gallery{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
section{
    display: block;
}
}