/*karan patel 8911445*/
body{
    font: normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
background-color: rgb(126, 102, 194);
}
h2{
    color: #fc2;
    font-size: 2em;

}
header{
    background-color: hsl(200, 22%, 47%);
}
main{
    float: left;
    width: 65vw;
    height: 60vh;
    background-color: hsl(339, 81%, 31%);
}
aside{
    float : right;
    width : 25vw;
    height: 60vh;
    background-color: hsl(67, 88%, 32%);
}
footer{
    clear : both;
    background-color: hsl(176, 86%, 44%);
}
.structural{
    margin : 10px;
    padding : 10px;
    border : 2px solid black;
}
#para1{
color: rgb(72, 39, 39);
}
#para2{

    color: rgb(181, 22, 138);
}
a:hover{
    color: #fc2;
}
footer p {
    font-size: .75em;
}